.sidebar {
    align-items: stretch;
    border-right: 1px solid;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 50px;
    position: fixed;
    width: $sidebar-width;
    
    .sidebar-item {
        

        &:hover {
            background-color: $grey;
        }
    }
}