.dispositive {
    border: 1px solid black;
    display: flex;
    padding-left: 1%;

    .name {
        margin-right: 50%;
    }

    .icon {
        margin-right: 1%;
    }
    .button {
        margin-right: 10%;
    }

    .config-button {
        
    }
}