.room {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;

    .icon {
        margin-right: 5%;
    }

    .switch {
        margin-right: 5%;
    }

    .name {
        margin-right: auto;
    }
}