@import 'src/scss/constants';

.dispositives-layout {
    display: flex;
    flex-direction: column;
    height: 95%;
    padding-top: 5%;
}

.button-container {
    text-align: center;
    width: 100%;
}